body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url('fondo.jpeg');
    background-size: cover; /* Hace que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

header {
    background: #e0e0e0;
    color: #333;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-weight: bold;
    margin: 10px 0;
}

header p {
    margin: 5px 0;
}

.foto-perfil {
    width: 383px;
    height: 386px;
    border-radius: 50%;
    object-fit: cover;
}

section {
    padding: 20px;
    background-color: #fff;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-weight: bold;
    color: #555;
}

footer {
    background: #e0e0e0;
    color: #333;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}
